<section class="container-fluid" *ngIf="permissions.can('update', 'AdminController')">
  <div class="row mt-3">
    <div class="col">
      <h4 class="page-title mb-3">Permissions</h4>
    </div>
  </div>
  <div class="card border border-1 border-secondary py-2">
    <div *ngIf="data && data.length > 0">
      <div class="d-flex px-2 row">
        <div class="col-2">
          <input [checked]="checked" (click)="CheckBox()" type="checkbox">
          <label class="fs-5 fw-bold ms-2" for="checkbox">checkAll</label>
        </div>
      </div>
      <div class="row g-0">
        <ng-container *ngFor="let item of ControllerNamesMassiv; let i = index">
          <div class="col-12 col-md-6 col-lg-3 my-2">
            <div class="border border-secondary" style="height: 100%;">
              <h3 class="ms-3">{{item.name}}</h3>
              <div *ngIf="item.data && item.data.length > 0">
                <div *ngFor="let roles of item.data; let j = index">
                  <div class="form-check d-flex">
                    <input class="input_label" type="checkbox" [checked]="checked || roles.checkedControl"
                      [defaultValue]="roles.id" (click)="CheckController(i, roles.id)" id="checkbox-{{i}}-{{j}}">
                    <label class="form-check-label fs-5 fw-bold ms-2" for="checkbox-{{i}}-{{j}}">{{roles.name}}</label>
                  </div>
                </div>
              </div>
              <div *ngIf="item.actions && item.actions.length == 0">
                <h3>Actionslar yo'q...</h3>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="d-flex justify-content-end px-4">
          <button class="btn btn-primary fs-5 fw-bold" (click)="SendPermission()">Saqlash</button>
        </div>
      </div>
    </div>
    <div *ngIf="data && data.length == 0">
      <h2 class="text-center p-3">Jadval ma'lumotlari yo'q.</h2>
    </div>
  </div>
</section>


<section class="row" *ngIf="!permissions.can('update', 'AdminController')">
  <div class="col-lg-5 mx-auto">
    <div class="card mt-5">
      <div class="card-body">
        <div class="ex-page-content text-center">
          <h1 class="mt-5 mb-4">403!</h1>
          <h5 class="font-16 text-muted mb-5">Bu sahifaga kirish taqiqlangan</h5>
        </div>
      </div>
    </div>
  </div>
</section>