<app-header class="left-sidenav" style="overflow:auto;" *ngIf="isAuthenticated"></app-header>

<div [ngClass]="{'page-wrapper': isAuthenticated}" (window:resize)="onResize($event)">

  <div class="topbar" *ngIf="isAuthenticated">
    <nav class="navbar-custom">
      <ul class="list-unstyled topbar-nav float-end pe-2 mb-0">
        <li class="dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" role="button"
            ngbDropdownToggle>
            <span class="me-2">{{currentUser}}</span>
            <img src="/assets/images/no_photo.png" alt="profile-user" class="rounded-circle thumb-sm img-thumbnail">
          </a>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <a role="button" class="dropdown-item" (click)="profileSettings()">Parolni o'zgartirish</a>
            <a role="button" class="dropdown-item" (click)="onLogout()">Chiqish</a>
          </div>
        </li>
      </ul>

      <ul class="list-unstyled topbar-nav mb-0">
        <li>
          <button class="nav-link button-menu-mobile" type="button" (click)="toogleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-menu align-self-center topbar-icon">
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </button>
        </li>
        <li class="mt-3">
          IBEATS CRM 
        </li>
      </ul>
    </nav>
    <!-- /topbar -->
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="sweet_alert-content overflow-auto" [ngClass]="{'open':settingsModal}">
  <form class="sweet_alert-body" (ngSubmit)="changeSettings(dataForm)" #dataForm="ngForm">
    <h2 class="sweet_alert-title">Parolni o'zgartirish</h2>
    <div class="sweet_alert-inner">

      <div class="form-group mb-3">
        <label class="form-label">Hozirgi Parol</label>
        <input type="text" class="form-control" [(ngModel)]="data.current_password" name="current_password">
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Yangi Parol</label>
        <input type="text" class="form-control" [(ngModel)]="data.password" name="password">
      </div>

    </div>
    <div class="sweet_alert-buttons">
      <button class="btn btn-outline-secondary btn-r" type="button" [disabled]="loading"
        (click)="closeAlerPopup()">Bekor qilish</button>
      <button type="submit" class="btn btn-primary btn-l" [disabled]="!dataForm.valid || loading">Saqlash<img
          *ngIf="loading" src="/assets/images/spinner.svg" class="spinner-load"></button>
    </div>
  </form>
</div>

<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#e0154b" type="ball-scale-ripple-multiple"
  [fullScreen]="true"></ngx-spinner>