<section class="page-content">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="card mt-4">
          <div class="card-body p-0 auth-header-box">
            <div class="text-center p-3">
              <a role="button" class="logo logo-admin">
                <img src="/assets/images/logo.png" height="50" alt="logo" class="auth-logo">
              </a>
              <h4 class="mt-3 mb-1 fw-semibold text-white font-18">Ой! К сожалению страница не найдена</h4>   
              <p class="text-muted  mb-0">Перейти на общую таблицу</p>  
            </div>
          </div>
          <div class="card-body">
            <div class="ex-page-content text-center">
              <img src="/assets/images/error.svg" alt="0" class="" height="170">
              <h1 class="mt-5 mb-4">404!</h1>
              <h5 class="font-16 text-muted mb-5">Что-то пошло не так</h5>
            </div>          
            <a class="btn btn-primary w-100 waves-effect waves-light" routerLink="/admin/general-table">Перейти на общую таблицу <i class="fas fa-redo ms-1"></i></a>                         
          </div>
          <div class="card-body bg-light-alt text-center">
            <span class="text-muted d-none d-sm-inline-block">©2022 Все права защищены - Litez.uz</span>                                            
          </div>
        </div>
      </div>
    </div>  
  </section>